<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sise.shop.mapper.IncomeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sise.shop.entity.Income">
        <id column="incomeId" property="incomeId" />
        <result column="userId" property="userId" />
        <result column="createTime" property="createTime" />
        <result column="title" property="title" />
        <result column="sum" property="sum" />
        <result column="memo" property="memo" />
        <result column="creator" property="creator" />
        <result column="updater" property="updater" />
    </resultMap>

</mapper>
