<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sise.shop.mapper.UserinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sise.shop.entity.Userinfo">
        <id column="userId" property="userId" />
        <result column="username" property="username" />
        <result column="userPhone" property="userPhone" />
        <result column="password" property="password" />
        <result column="forgetQue" property="forgetQue" />
        <result column="forgetAns" property="forgetAns" />
        <result column="shopName" property="shopName" />
        <result column="rank" property="rank" />
        <result column="createTime" property="createTime" />
        <result column="creator" property="creator" />
        <result column="customerId" property="customerId" />
        <result column="incomeId" property="incomeId" />
        <result column="espendId" property="espendId" />
        <result column="goodsId" property="goodsId" />
        <result column="othersId" property="othersId" />
    </resultMap>

</mapper>
