<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>登陆页面</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>
<body>
<div>
    <div id="box">
        <form style="margin-left:500px;margin-top:200px;" >
            <div class="form-group " >
                <label  stype="display:inline;">账户：</label>
                <input type="text" class="form-control"   style="display:inline;width:200px;"autocomplete="off" v-model="user.username"/>
            </div>
            <div class="form-group">
                <label for="password" style="display:inline;">密码：</label>
                <input type="password" class="form-control" id="password" style="display:inline;width:200px;"autocomplete="off" v-model="user.password" />
            </div>
            <button type="button" class="btn btn-primary  " @click="login">登录</button>
        </form>
    </div>
</div>


<script>
    var vm = new Vue({
        el:'#box',
        data:{
            user:{username:"",password:""},
        },
        methods: {
            login: function (event) {
                let data = this.user;
                $.ajax({
                    type: "POST",
                    url: "/user_info/logincheck",
                    data: data,
                    dataType: "json",
                    success: function(result){
                        if(result==1){
                            parent.location.href ='login.html';
                            this.toLocaleString('login.html');
                        }
                        else
                        {vm.refreshCode();
                            alert("flase1111");
                        }
                    }
                });
            }
        }
    });
</script>
</body>

